<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<title>in2code.de Master Template</title>
		<link rel="stylesheet" type="text/css" href="/typo3conf/ext/in2master/Resources/Public/css/style.css" media="all" />
	</head>
	
	<body>
		<div id="all">
		<f:layout name="in2master_default" />
		<f:section name="body">
			<header>
				<nav id="top">
					<f:cObject typoscriptObjectPath="lib.nav.top">
					<ul>
						<li class="first">
							<a href="#">Seite 1</a>
						</li>
						<li>
							<a href="#">Seite 2</a>
						</li>
						<li class="last">
							<a href="#">Seite 3</a>
						</li>
					</ul>
					</f:cObject>
				</nav>
				<nav id="header">
					<f:cObject typoscriptObjectPath="lib.nav.header">
					<ul>
						<li class="first">
							<a href="#">Seite 1</a>
							<ul>
								<li class="first">
									<a href="#">Seite 1.1</a>
								</li>
								<li class="act">
									<a href="#">Seite 1.2</a>
								</li>
								<li class="last">
									<a href="#">Seite 1.3</a>
								</li>
							</ul>
						</li>
						<li>
							<a href="#">Seite 2</a>
						</li>
						<li class="last">
							<a href="#">Seite 3</a>
						</li>
					</ul>
					</f:cObject>
				</nav>
				<div id="header_inner">
					<f:cObject typoscriptObjectPath="lib.logo">
						<a href="#"><img src="/typo3conf/ext/in2master/files/img/in2code_logo.png" alt="in2code Logo" title="in2code.de - Wir leben TYPO3" class="logo" /></a>
					</f:cObject>
				</div>
			</header>
			<div id="main">
				<div id="main_inner">
				<div id="left">
					<nav id="menu">
						<f:cObject typoscriptObjectPath="lib.nav.sidebar">
						<ul>
							<li class="first">
								<a href="#">Seite 1</a>
								<ul>
									<li class="first">
										<a href="#">Seite 1.1</a>
									</li>
									<li class="act">
										<a href="#">Seite 1.2</a>
									</li>
									<li class="last">
										<a href="#">Seite 1.3</a>
									</li>
								</ul>
							</li>
							<li>
								<a href="#">Seite 2</a>
							</li>
							<li class="last">
								<a href="#">Seite 3</a>
							</li>
						</ul>
						</f:cObject>
					</nav>
					<f:cObject typoscriptObjectPath="lib.content.getLeft">
					</f:cObject>
				</div>
				<div id="center">
					<nav id="breadcrumb">
						<f:cObject typoscriptObjectPath="lib.nav.breadcrumb">
						<ul>
							<li class="first">
								<a href="#">Seite 1</a>
							</li>
							<li>
								<a href="#">Seite 2</a>
							</li>
							<li class="last">
								<a href="#">Seite 3</a>
							</li>
						</ul>
						</f:cObject>
					</nav>
					<f:cObject typoscriptObjectPath="lib.content.get">
					<div>
						<h1>Der Dalmatiner</h1>
						<p>
							Der Dalmatiner ist ein mittelgroßer bis großer gut proportionierter, getupfter, kräftiger, lebhafter, sehr auffälliger Hund. Sein ausgeglichener, schlanker Körper besitzt einen starken Rücken mit einer gleichmäßigen geraden Rückenlinie. Der Dalmatiner hat muskulöse Schultern, einen langen, aber nicht allzu breiten Brustkorb und einen eleganten Hals. Seine Hängeohren sind mäßig groß, hoch angesetzt und liegen dicht am Kopf an. Seine Augen sind rund und sollten bei Exemplaren mit schwarzen Flecken dunkelbraun sein. Leberbraunfarbene Hunde sollten bernsteinfarbene Augen besitzen. Die Rute ist sichelförmig. Sie ist lang, nach und nach schmaler werdend und reicht bis zu den Sprunggelenken. Einmalig unter den Hunderassen ist das Fell: weiß mit schwarzen bzw. braunen fest umrissenen Tupfen. Diese Färbung verdankt er dem Scheckungs-Gen.
						</p>
						<p>
							Das Fell, welches die Grundfarbe Weiß sowie schwarze oder leberbraune Tupfen hat, ist kurz, hart und dicht und sieht glatt und glänzend aus. Die Tupfen sollen nicht ineinander laufen und rund und klar begrenzt sein. Dieser in seinen Umrissen symmetrische, harmonische Hund ohne Derbheiten hat eine Widerristhöhe von 56–61 cm bei einem Gewicht von 24–32 kg.
						</p>
						<p>
							Die Welpen kommen im Normalfall weiß zur Welt und die Flecken zeigen sich erst mit zehn bis 14 Tagen. Erst im Erwachsenenalter mit ca. einem Jahr verändert sich die Fleckung nicht mehr. Tiere, die schon von Geburt an schwarze Flecken haben (Platten) sind von der Zucht ausgeschlossen. Platten sind meist größer als die übrigen Flecken und treten oft am Kopf, dort häufig am Auge (periokuläre Platte) oder an den Ohren auf. Mittlerweile gibt es viele Befürworter solche Hunde mit in die Zucht aufzunehmen, da das Vorkommen von Taubheit bei Tieren (also nicht nur bei Dalmatinern und Hunden) proportional mit dem Weißanteil im Fell zunimmt.
						</p>
						<p>
							Blaue Augen, beid- oder einseitig (Bicolor), sind ebenfalls zuchtausschließende Fehler, da solche Hunde vermehrt Taubheit vererben. Weitere zuchtausschließende Fehler sind u.a. lemonfarbene Hunde, oder solche, die braune und schwarze Tupfen aufweisen (Tricolor). Es wird empfohlen, taube und im Idealfall auch einseitig taube Hunde von der Zucht auszuschließen.
						</p>
					</div>
					<div>
						<h1>TYPO3 Support</h1>
						<ul>
							<li>Brauchen Sie Hilfe zu dieser Installation? <a href="mailto:info@in2code.de">info@in2code.de</a></li>
							<li>Do you need Help with this installation? <a href="mailto:info@in2code.de">info@in2code.de</a></li>
						</ul>
						<p>&nbsp;</p>
					</div>
					</f:cObject>
				</div>
				<div id="right">
					<f:cObject typoscriptObjectPath="lib.content.getRight">
					</f:cObject>
				</div>
				<div class="clear"></div>
			</div>
			<footer>
				<div id="footer_inner">
					<f:cObject typoscriptObjectPath="lib.content.getBorder">
					</f:cObject>
				</div>
				<nav id="footer">
					<f:cObject typoscriptObjectPath="lib.nav.footer">
					<ul>
						<li class="first">
							<a href="#">Seite 1</a>
						</li>
						<li>
							<a href="#">Seite 2</a>
						</li>
						<li class="last">
							<a href="#">Seite 3</a>
						</li>
					</ul>
					</f:cObject>
				</nav>
			</footer>
		</f:section>
		</div>
	</body>
</html>